[info] a.TransactionActor - All relevant transactions = List()
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T00:45:45.151Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map()

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:56:01.776Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 1000)

[info] a.TransactionActor - Deposit Address Address(31db076e-e018-4cec-896c-701934c46eee) has new balance = 500.0
[info] a.TransactionActor - Amount to be doled out to each address = 250.0

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:56:15.034Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 500.0)

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:56:15.034Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 500.0)

[info] a.TransactionActor - Deposit Address Address(31db076e-e018-4cec-896c-701934c46eee) has new balance = 250.00
[info] a.TransactionActor - Amount to be doled out to each address = 125.00

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:56:35.007Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 250.00)

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:56:35.007Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 250.00)

[info] a.TransactionActor - Deposit Address Address(31db076e-e018-4cec-896c-701934c46eee) has new balance = 125.000
[info] a.TransactionActor - Amount to be doled out to each address = 62.500

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:56:55.035Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 125.000)

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:56:55.035Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 125.000)

[info] a.TransactionActor - Deposit Address Address(31db076e-e018-4cec-896c-701934c46eee) has new balance = 62.5000
[info] a.TransactionActor - Amount to be doled out to each address = 31.2500

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:57:14.998Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 62.5000)

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:57:14.998Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 62.5000)

[info] a.TransactionActor - Deposit Address Address(31db076e-e018-4cec-896c-701934c46eee) has new balance = 31.25000
[info] a.TransactionActor - Amount to be doled out to each address = 15.62500

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:57:34.989Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 31.25000)

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:57:34.989Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 31.25000)

[info] a.TransactionActor - Deposit Address Address(31db076e-e018-4cec-896c-701934c46eee) has new balance = 15.625000
[info] a.TransactionActor - Amount to be doled out to each address = 7.812500

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:57:55.046Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 15.625000)

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:57:55.046Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 15.625000)

[info] a.TransactionActor - Deposit Address Address(31db076e-e018-4cec-896c-701934c46eee) has new balance = 7.8125000
[info] a.TransactionActor - Amount to be doled out to each address = 3.9062500

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:58:14.999Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 7.8125000)

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:58:14.999Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 7.8125000)

[info] a.TransactionActor - Deposit Address Address(31db076e-e018-4cec-896c-701934c46eee) has new balance = 0
[info] a.TransactionActor - Amount to be doled out to each address = 3.9062500

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:58:34.999Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 0)

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:58:34.999Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map(Address(31db076e-e018-4cec-896c-701934c46eee) -> 0)

[info] a.TransactionActor - DepositAddress(Address(31db076e-e018-4cec-896c-701934c46eee)) has been fulfilled. Removing from pending transactions...

[info] a.TransactionActor - All relevant transactions = List(Transaction(2017-03-11T02:56:01.776Z,None,31db076e-e018-4cec-896c-701934c46eee,1000))
[info] a.TransactionActor - Latest Timestamp = 2017-03-11T02:58:34.999Z
[info] a.TransactionActor - Registered Deposit Addresses And Balance = Map()


[success] Total time: 276 s, completed Mar 10, 2017 9:59:04 PM